<html>
<body>
<!--- 
	@param headings: image metadata property name
	@param items: image metadata property values
-->


<table class="table table-striped" id="users">
	<tr>
		<td>
			<img src="{{url_for('static', filename='images/' + items['0'])}}"  alt="{{ image_file }}" style="height:600px;"/>
		</td>
		<td>
			<form method="post" action="/save_metadata">
				<table class="image-metadata">
					{%- for key in items %}
						<tr>
							<td><label for="{{ key }}">      {{ headings[key] }}</label></td>
							<td><input  id="{{ key }}" name="{{ headings[key] }}" type="text" value="{{ items[key] }}" {{ 'readonly' if key=='0' else '' }}></input></td>
						</tr>
					 {%- endfor %}
						<tr>
							<td>&nbsp;</td>
							<td><input type="submit" value="save"/></td>
						</tr>
				</table>
			</form>
		</td>
	</tr>
</table>
 
</body>
</html>